<div class="left-side3">
    {% block leftSide %}
        {% include '::blog/menu.html.twig' %}
    {% endblock %}
</div>

<div class="center-side3">
    {% block centerSide %}center side{% endblock %}    
</div> 

<div class="right-side3">
{% block rightSide %}
    {% include '::blog/menu.html.twig' %}
{% endblock %}    
</div> 