<div class="left-side3">
    {% block leftSide %}left side{% endblock %}
</div>

<div class="center-side3">
{% block centerSide %}center side{% endblock %}    
</div> 

<div class="right-side3">
{% block rightSide %}right side{% endblock %}    
</div> 