<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="body">
                <div class="head">
                    {% block head %}{% endblock %}
                </div>

                <div class="wrapper">
                    {% block content %}
                    {% endblock %}
                </div>

                {% block footer %}{% endblock %}    
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
