{# app/Resources/views/index.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter="cssrewrite" output="css/app.css"    
        '%kernel.root_dir%/Resources/assets/css/test.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block title %}Index Blog Page{% endblock %}

{% block body %}
    {{ parent() }}
    {% if app.user %} <a href="{{ path('logout') }}#home">Logout</a> {% endif %}
        
    {% block javascripts %}
        {% javascripts output="js/test2.js"  '%kernel.root_dir%/Resources/assets/js/test.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    
{% endblock %}
